.head{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.left{
   display: flex;
   justify-content: space-evenly;
   height: 70px;
   padding-left: 90px;
}
.right{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-right: 100px;
    height: 70px;
}
.text{
    color: white;

}

.icon{
    padding-top: 5%;
    
}
.subhead{
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.lef{
    display: flex;
    justify-content: space-between;
}
.sublogo{
    width: 20%;
    padding-left: 90px;
}
.li{
  padding-top: 7%;
}
.li a{
    
    color: black;
}
.lii{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.rig{
    display: flex;
    justify-content: space-between;
}






.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: white;
    
}